jabx/mapping/CPSListWordsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="content"> 
  	<xs:complexType>
  		<xs:sequence>
  		<xs:element name="list" minOccurs="0" maxOccurs="unbounded">
	  		<xs:complexType>
		  		<xs:sequence>
		  			<xs:element name="word" minOccurs="0" maxOccurs="unbounded">
		  				<xs:complexType mixed="true">
		  					<xs:attribute name="count" type="xs:int"/>
		  				</xs:complexType>
		  			</xs:element>
		  		</xs:sequence>
		  		<xs:attribute name="to" type="xs:string"/>
	  		</xs:complexType>
  		</xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
</xs:schema>