jabx/mapping/CPSListFacetsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="content"> 
  	<xs:complexType>
  		<xs:sequence>
  		<xs:element name="facet" minOccurs="0" maxOccurs="unbounded">
	  		<xs:complexType>
		  		<xs:sequence>
		  			<xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		  		</xs:sequence>
		  		<xs:attribute name="path" type="xs:string"/>
	  		</xs:complexType>
  		</xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
</xs:schema>