jabx/mapping/CPSListLastRetrieveFirstResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="content"> 
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="from" type="xs:int" minOccurs="0"/>
  			<xs:element name="to" type="xs:int" minOccurs="0"/>
  			<xs:element name="results" minOccurs="0">
  				<xs:complexType>
  					<xs:sequence>
  						<xs:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
  					</xs:sequence>
  				</xs:complexType>
  			</xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
</xs:schema>